@{
    ViewBag.Title = "Contact Atos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ground Floor, Building 31<br />
    Woodlands Office Park, Woodlands Drive<br />
    Woodmead, Johannesburg
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>